$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background: url('/images/old_map.png') repeat;
}

/* Custom page footer */
.footer {
  float: left;
  width: 100%;
  margin-top: 30px;
  clear: both;
  padding-top: 19px;
  color: #8a4;
  border-top: 1px solid #f72;
}

#logo {
  text-align: center;
  
  img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    max-width: 100%;
    height: auto;
  }
}

#information {
  margin-top: 60px;
  font-size: 30px;
  font-family: 'Ceviche One', cursive;

  a { color: #8a4; }
  #email { color: #f72 }
  #contact { float: left; }
  #web { float: right; }
}

#logo { margin-top: 30px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
